<div class="boards__container columns p-5" *ngIf="board$ | async">
  <div
    *ngFor="let board of motley | async"
    class="column is-2 card mr-3"
    [ngStyle]="{ background: board.boardBackground }"
    [routerLink]="['/kanban', board.bid]">
    <div class="card-content">
      <p class="title is-3" [ngStyle]="{ color: textColor }">
        {{ board }}
      </p>
    </div>
  </div>

  <div
    class="column is-2 card has-text-centered"
    (click)="openModal()"
    [ngStyle]="{ background: 'rgba(255,255,255,0.3)' }">
    <div class="card-content">
      <p class="title is-3" [ngStyle]="{ color: '#363636' }">Create board</p>
    </div>
  </div>
</div>
<div class="create__board" *ngIf="modalSwitch">
  <app-create-board-modal></app-create-board-modal>
</div>
