<div class="modal-2 animate__animated  animate__fadeInDown animate__faster">
  <div class="modal-card">
    <div class="modal__header">
      <h2 class="title">Crear tablero</h2>
    </div>

    <div class="modal__body">

      <form class="mt-4">
        <div class="field">
          <label class="label">Board Name</label>
          <div class="control">
            <input class="input is-rounded" type="text" placeholder="e.g Work" />
          </div>
        </div>

        <div class="field column is-four-fifths is-justify-content-flex-end">
          <label class="label ">column name</label>
          <div class="control is-flex is-justify-content-end">
            <input class="input is-rounded " type="email" placeholder="e.g. TODO" />
          </div>
        </div>
        <div class="field">
          <div class="control"></div>
        </div>
      </form>


      <div class="modal__buttons is-flex is-justify-content-end">
        <!-- <button (click)="closeModal()" class="btn">
          <img src="/assets/icons/close-button.svg" alt="" />
        </button> -->
        <button (click)="closeModal()" class="delete is-large">

        </button>
      </div>
    </div>
  </div>
</div>
