<div class="modal-2 animate__animated animate__fadeInDown animate__faster">
  <div class="modal-card">
    <div class="modal__header is-flex is-justify-content-space-between">
      <h2 class="title">Crear tablero</h2>
      <div class="modal__buttons">
        <button (click)="closeModal()" class="delete is-large"></button>
      </div>
    </div>

    <div class="modal__body">
      <form class="mt-4" (ngSubmit)="addBoard(value)" (keyup.enter)="addBoard(value)">
        <div class="field">
          <label class="label">Board Name</label>
          <div class="control">
            <input [(ngModel)]="value" name="input" class="input is-rounded" type="text" placeholder="e.g Work" />
          </div>
        </div>
        <div class="field">
          <div class="control colorPaletteContainer">
            <label class="label">Pick a background Color:</label>
            <app-color-picker (onBoardBackground)="backgroundColor($event)"></app-color-picker>
          </div>
        </div>
        <div class="is-flex is-justify-content-end">
          <button type="submit" class="button is-info">save</button>
        </div>
      </form>
    </div>
  </div>
</div>
