<div class="modal-2 animate__animated animate__fadeInDown animate__faster">
  <div class="modal-card">
    <div class="modal__header is-flex is-justify-content-space-between">
      <h2 class="title">New Board</h2>
      <div class="modal__buttons">
        <button (click)="closeModal()" class="delete is-large"></button>
      </div>
    </div>

    <div class="modal__body">
      <form
        autocomplete="off"
        class="mt-4"
        [formGroup]="newBoardForm"
        (ngSubmit)="addBoard($event)"
        (keyup.enter)="addBoard($event)">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              formControlName="boardName"
              class="input is-rounded"
              type="text"
              placeholder="e.g Work" />
            <span
              *ngIf="
                newBoardForm.controls['boardName'].invalid &&
                newBoardForm.controls['boardName'].touched
              "
              class="has-text-danger">
              Name must have at least 3 characters
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Pick a background Color:</label>
          <div class="control colorPaletteContainer">
            <app-color-picker
              (onBoardBackground)="backgroundColor($event)"></app-color-picker>
          </div>
        </div>
        <div class="is-flex is-justify-content-end">
          <button
            [disabled]="newBoardForm.invalid"
            type="submit"
            class="button is-info">
            save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
