<div class="board">
  <div
    class="board-bar is-flex is-justify-content-space-between is-align-items-center">
    <p class="board-name">Board Name!</p>
    <!-- <button class="button is-rounded is-info">Add column</button> -->
    <button class="button is-rounded is-info" (click)="openModal()">
      Add column
    </button>
  </div>

  <!-- <div
    class="board-bar is-flex is-justify-content-space-between is-align-items-center"
    (click)="openModal()">
  </div> -->

  <div class="board-wrapper">
    <div class="board-columns" cdkDropListGroup>
      <div class="board-column">
        <app-column
          *ngFor="let column of columns$ | async"
          [column]="column"
          [bid]="bid"></app-column>
      </div>
    </div>
  </div>
</div>

<div class="create__board" *ngIf="modalSwitch">
  <app-create-column-modal [bid]="bid"></app-create-column-modal>
</div>
