.column-header{
    display: flex;
    justify-content: space-between;
    
}
.column-header--title{
    font-size: 20px;
    font-weight: 800;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 50%;
}

.column-header--button{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    span{
        cursor: pointer;
    }
}


@mixin task{
    display: flex;
    background-color: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.05),
    0 3px 14px 2px tgba(0,0,0,0.05);
    padding: 15px 12px;

}

.task__form{
    padding: 10px 0;
    animation: showForm 600ms;
    position: relative;
    .task__form--input{
        @include task();
        display: flex;
        align-items: center;
        width: 100%;
        border: none;
    }
    .task__form--submit{
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 10000;
    }
}

@keyframes showForm {
    0%{
        bottom: 100px;
        opacity: 0;
    }
    10%{
        bottom: 90px;
        opacity: 0.34;

    }
    20%{
        bottom: 80px;
        opacity: 0.5;

    }
    30%{
        bottom: 70px;
        opacity: 0.6;
    }
    40%{
        bottom: 60px;
        opacity: 0.7;
    }
    50%{
        bottom: 50px;

    }
    70%{
        bottom: 30%
    }
    90%{
        bottom: 10%;
        opacity: 0.8;

    }
    100%{
        bottom: 0px;
        opacity: 1;
    }
}