.column-header {
  display: flex;
  justify-content: space-between;
  .column-header--title {
    font-size: 20px;
    font-weight: 800;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .column-header--button {
    display: flex;
    justify-content: flex-end;
    span {
      cursor: pointer;
    }
  }
}


@mixin task {
  display: flex;
  background-color: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px tgba(0, 0, 0, 0.05);
  padding: 15px 12px;
}

.task__form {
  padding: 10px 0;
  position: relative;
  .task__form--input {
    @include task();
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
  }
  .task__form--submit {
    background: transparent;
    border: none;
    img{
      cursor: pointer;
      z-index: 10000;

    }
  }
}

.animate__backInDown {
  --animate-duration: 0.8s;
}
