@import '~ngx-toastr/toastr';

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');
$family-sans-serif: 'Nunito', sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html,
body {
  height: 100%;
}

html {
  background: #1cd8d2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93edc7, #1cd8d2); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #93edc7,
    #1cd8d2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: auto !important;
}
